 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
 }

 body {
    background-color: rgba(226, 250, 253, 0.26);
 }

 .navbar {
    background-color: rgba(255, 255, 255, 0.922);

 }

 .nav-item,.nav-link{
   text-align: center;
   color: black;
   font-weight: 500;
   font-size: 1.1rem;
   padding-left:6px;
 } 
 .nav-link:hover{
   background-color: rgba(169, 169, 169, 0.857);
   color: white;
   border-radius: 50px;
 }
 .spin {
    color: rgb(89, 252, 48, 100);

 }

 .main {
    background-color: rgba(226, 250, 253, 0.766);
    border-radius: 0px 0px 410px 99px;
 }

 .logo {
    color: #0029FF;
    font-weight: 600;
 }

 .service {
    margin-top: 10rem;
 }

 .service-card {
    border-radius: 25px;
 }

 .service-card:hover {
    background-color: rgba(0, 0, 0, 0.115);

 }
 .contact{
   margin-top: 8rem;
 }
 .contactform{
   background-color: rgba(226, 250, 253, 0.26);
 }

 .cta {
    text-align: center;
    color: white;
    background-color: black;
    padding: 8px;
 }

 .btn-contact {
    border-color: white;
    color: white;
    border-radius: 50px;
 }

 .partner {
    background-color: rgb(255, 250, 220);
    border-radius: 50px;
 }

 .about {
    border: 0;
    background-color: rgba(226, 250, 253, 0.105);
 }

 .accordionbtn {
    background-color: rgba(226, 250, 253, 0.105);
 }

 .accordionbtn:hover {
    color: rgb(55, 255, 0);
 }
 .footer{
   background-color: black;
   color: white;
   text-align: center;
   padding: 5px;
 }