 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
  body{
      background-color: rgba(226, 250, 253, 0.26);
  }
 .logo{
    color: #0029FF;
    font-weight: 600;
 }
 .btn1{
     background-color: black;
     color: white;
     border-radius: 50px;
 }
 .btn1:hover{
     background-color: rgb(229, 224, 224);
     color: black;
 }
 .main-3{
     margin-top: 5rem;
     background-color: black;
 }
 .main3-head{
     text-align: center;
     padding: 2rem;
     color: white;
     font-size: 1.7rem;
 }
 .btn2{
     background-color: black;
     color: white;
     border-color: white; 
     
 }
 .btn2:hover{
   background-color: white;
   color: black;
 }
 .main-4{
     margin-top: 5.5rem;

 }
 .service-img{
     border-radius: 25px;
 }
 .main-5{
     margin-top: 5rem;
 }
 .portfolio-img:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
 .main-6{
     margin-top: 6rem;
 }
 .about{
     border: 0;
    background-color: rgba(226, 250, 253, 0.105);
 }
 .accordionbtn{
    background-color: rgba(226, 250, 253, 0.105);
 }
 .accordionbtn:hover{
     color: rgb(55, 255, 0);
 }